.start-page {
    background-image: url(../images/ai_back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
}
.start-page .btn-outline-secondary{
    color: white;
    border-color: white;
}
.start-page .btn-outline-secondary:hover{
    color: white;
    border-color: #0d6efd;
    background-color: #0d6efd;
}
p.lead span {
    text-decoration: underline;
}
header a img {
    height: 40px;
}